*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Variables for colors used in the designs */
.root{
    --primary-color: #1877f2;
    --body-backgroud-color: #f0f2f5;
}
@media(min-width: 1024px){
    
}