*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Variables for colors used in the designs */
:root{
    --primary-color: #1877f2;
    --body-backgroud-color: #f0f2f5;
}
.container{
    height: 100vh;
    background-color:var(--body-backgroud-color);
    font-family: 'Jockey One', sans-serif;
    padding: 2em;
}
.container header h1{
    text-align: center;
    font-size: 3em;
    color: #1877f2;
}
.writeUp{
    display: none;
}
form{
    background-color:#ffffff;
    border-radius: 10px;
    width: 85%;
    padding: 20px;
    margin: 0 auto;
    max-width: 420px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}
form input{
    padding: 10px 30px 20px 10px;
    width: 100%;
    font-size: 10px;
    margin-bottom: 0.85em;
    border: none;
    background-color: #f0f2f5;
    outline:none;
}
form input:focus{
    outline: 1px solid #1877f2;
}
.btn{
    cursor: pointer;
}
.btn1{
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #fffcfe;
    padding: 0.625em 0px;
    background-color: #1877f2;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
form p a{
    color: #4491f6;
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
form p{
    margin: 0.75em 0 1.2em;
    text-align: center;
}
.createAcc, .img2{
    display: flex;
    justify-content: center;
}
.btn2{
    margin-top: 30px;
    font-size: 1em;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #42b72a;
    color: #fcfff7;
    outline: none;
    border: none;
    padding: 1em;
}
@media(min-width: 1024px){
    .container{
        display: grid;
        grid-template-columns: 300px 500px;
    }
    .container header h1{
        text-align: left;
    }
    .btn1{
        font-size: 1.5rem;
        padding: 0.425em 0px;
    }
    .writeUp{
        display: block;
    }
    .images{
        display: flex;
        flex-wrap: nowrap;
    }
    .account p,  .img1, .img2{
        text-align: center;
    }
    .img:hover, .account:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    }
    .img1, .img2{
        width: 130px;
        border: 1px solid black;
        border-radius: 10px;
    }
    .img2{
        background-color: #f5f6f7;
        border: 1px solid black;
        height: 120px;
        align-items: center;
    }
    .img2 img{
        width: 40px;
    }
    .img1 img{
        width: 130px;
    }
 
}